section.events 
    .wrapper.wrapper-events 
        h2.h2-like.anim-items Заняття для дітей від 1 до 7 років
        .events-content 
            .events-item.anim-items
                .events-item__img 
                    img(src="/src/assets/images/events-item1.svg", alt="image")
                .events-item__title Ранній розвиток
                .events-item__text Для дітей 1-3 років; розвиток мовлення, моторики рук, сенсорики через рухливі ігри, музику, творчість
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item2.svg", alt="image")
                .events-item__title Загальний розвиток
                .events-item__text Для дітей 3-4 років; розвиток мовлення, моторики рук, письма, сенсорики через рухливі ігри, музику, творчість
            .events-item.anim-items
                .events-item__img 
                    img(src="/src/assets/images/events-item3.svg", alt="image")
                .events-item__title Англійська мова
                .events-item__text Для дітей 2-6 років; вивчення мови у веселій формі через ігри, співи, танці, творчість
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item4.svg", alt="image")
                .events-item__title Музика
                .events-item__text Для дітей 2-6 років; розвиток фонематичного слуху і ритмічності через різні музичні інструменти, елементи хореографії і танцю
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item5.svg", alt="image")
                .events-item__title Шахи
                .events-item__text Для дітей 4-6 років; розвиток логічного та абстрактного мислення пам'яті, уваги, витримки та логіки через гру 
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item6.svg", alt="image")
                .events-item__title Підготовка до школи
                .events-item__text Для дітей 4-6 років; читання, письмо, граматика, математика, знання про навколишній світ
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item7.svg", alt="image")
                .events-item__title Акторська майстерність
                .events-item__text Для дітей 4-6 років; вправи сценічного руху та акторської майстерності, робота над сценічною мовою
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item8.svg", alt="image")
                .events-item__title Психолог
                .events-item__text Проведення діагностики і корекційно-розвивальних занять, застосовуючи різноманітні ігрові методики
            .events-item.anim-items 
                .events-item__img 
                    img(src="/src/assets/images/events-item9.svg", alt="image")
                .events-item__title Логопед
                .events-item__text Проведення діагностики на індивідуальних корекційних заняттях у формі гри