footer.footer
    .wrapper.wrapper-footer 
        h2.h2-like.anim-items Контакти
        .footer-content 
            ul.footer-info 
                li.footer-info__tel
                    a.tel(href="tel:+380630122299") +38 063 012 22 99
                    a.socialmedia(href="#")
                        img(src="/src/assets/images/footer-telegram.svg", alt="")
                    a.socialmedia(href="#")
                        img(src="/src/assets/images/footer-viber.svg", alt="")
                    a.tel(href="tel:+380970122299") +38 097 012 22 99    
                li.footer-info__place м. Буча, вул. Бориса Гмирі 4-А
                li.footer-info__schedule Понеділок - п’ятниця 8:00-19:00
                li.footer-info__mail 
                    a(href="mailto:morkvunka@ukr.net") morkvunka@ukr.net
                a(href="#").btn.footer-btn Запис на адаптацію
            .footer-maps
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2535.4812020084028!2d30.189350915692437!3d50.543820688513755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b31aec8ad677f%3A0xc3a39567916c0603!2z0JzQvtGA0LrQstC40L3QutCw!5e0!3m2!1sru!2sua!4v1648980688478!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        .footer-socialmedia 
            a(href='https://www.facebook.com/morkvynka.sadok', target="_blank") 
                img(src="/src/assets/images/Vector (1) 2.svg", alt="Facebook")
            a(href='https://www.instagram.com/morkvynka.sadok/', target="_blank")
                img(src="/src/assets/images/Vector (2).svg", alt="Instagram")    
        p.footer-text 2021. © “Морквинка”
             