section.gallery 
    .wrapper-gallery 
        h2.h2-like.anim-items Наш супер-садочок
        .gallery-content 
            .gallery-item.anim-items
                img(src="/src/assets/images/galleryitem1.png", alt="image")
            .gallery-item.anim-items
                img(src="/src/assets/images/galleryitem2.png", alt="image")
            .gallery-item.anim-items 
                img(src="/src/assets/images/galleryitem3.png", alt="image")
            .gallery-item.anim-items
                img(src="/src/assets/images/galleryitem4.png", alt="image")
            .gallery-item.anim-items
                img(src="/src/assets/images/galleryitem5.png", alt="image")
            .gallery-item.anim-items 
                img(src="/src/assets/images/galleryitem6.png", alt="image")
            .gallery-item.anim-items 
                img(src="/src/assets/images/galleryitem7.png", alt="image")
            .gallery-item.anim-items 
                img(src="/src/assets/images/galleryitem8.png", alt="image")