header#_header.header
  .header-wrapper
    .header-logo
      a.logo-link(href='№')
        img(src='/src/assets/images/logo.svg' alt='')
    nav.header-nav
      ul.menu
        li.menu-item
          a.item-link(href='#') Чому ми?
        li.menu-item
          a.item-link(href='#') Наша команда
        li.menu-item
          a.item-link(href='#') Розклад
        li.menu-item
          a.item-link(href='#') Галерея
        li.menu-item
          a.item-link(href='#') Ціни
        li.menu-item
          a.item-link(href='#') Відгуки
        li.menu-item
          a.item-link(href='#') Контакти
      .header-btn
          a(href='https://www.facebook.com/morkvynka.sadok', target="_blank") 
              img(src="/src/assets/images/Vector (1) 2.svg", alt="Facebook")
          a(href='https://www.instagram.com/morkvynka.sadok/', target="_blank")
              img(src="/src/assets/images/Vector (2).svg", alt="Instagram")
    .nav-icon 
      span