section.main
    .wrapper.wrapper-main 
        .main-content
            h1.h1-like.main-title.anim-items  МОРКВИНКА 
                br
                span комфортне середовище для вашого малюка
            p.wrapper-text.main-text.anim-items 
                |Ми створили найкращі умови для сприятливої атмосфери розвитку дітей.
            a.btn(href="#").main-btn.anim-items  Відвідати садочок 
            .main-sale 
                .main-sale_wrapper
                    .main-sale_img
                    .main-sale_qty.anim-items 10%
                    p.main-sale_text.anim-items ЗНИЖКА
                        br 
                        span новим клієнтам
        .main-image
            img(src="/src/assets/images/kid-main-page.png", alt="").main-image