section.price 
    .wrapper.wrapper-price
        h2.h2-like.anim-items Ціни
        .price-content 
            .price-item.anim-items 
                img(src="/src/assets/images/priceitem1.svg", alt="image").price-item__img
                .price-item__title Повний день
                .price-item__oldprice 
                    s 7200 ₴ 
                .price-item__newprice 6480 ₴ / місяць
                p.price-item__descrip - Харчування 5-разове 
                    strong 100 ₴ / день
                p.price-item__descrip - Річний внесок 
                    strong 2000 ₴
                p.price-item__subtext *Знижка діє лише для нових клієнтів 
                a.btn.btn-price(href="#") Запис на адаптацію
            .price-item.anim-items  
                img(src="/src/assets/images/priceitem2.svg", alt="image").price-item__img
                .price-item__title Міні-садок
                .price-item__oldprice
                    s 5000 ₴ 
                .price-item__newprice 4500 ₴ / місяць
                p.price-item__descrip - Харчування 3-разове 
                    strong 80 ₴ / день
                p.price-item__descrip - Річний внесок 
                    strong 2000 ₴
                p.price-item__subtext *Знижка діє лише для нових клієнтів 
                a.btn.btn-price(href="#") Запис на адаптацію
            .price-item.anim-items  
                img(src="/src/assets/images/priceitem3.svg", alt="image").price-item__img
                .price-item__title Повний день
                .price-item__oldprice 
                    s 7200 ₴ 
                .price-item__newprice 6480 ₴ / місяць
                p.price-item__descrip - Харчування 5-разове 
                    strong 100 ₴ / день
                p.price-item__descrip - Річний внесок 
                    strong 2000 ₴
                p.price-item__subtext *Знижка діє лише для нових клієнтів 
                a.btn.btn-price(href="#") Запис на адаптацію