section.reviews 
    .wrapper.wrapper-reviews 
        h2.h2-like.anim-items Відгуки
        .reviews-content 
            .reviews-item.anim-items
                p.reviews-item__text Дитина ходить в садочок, та на ранній розвиток в Морквинці. Дуже професійні вихователі, тепла атмосфера. Дитина з радістю відвідує :) дуже вдячні колективу!
                .reviews-item__profile 
                    .reviews-item__profile-photo 
                        img(src="/src/assets/images/review-photo1.png", alt="photo") 
                    .reviews-item__profile-text 
                        .reviews-item__profile-name Оксана
                        .reviews-item__profile-link мама Аліни, 
                            a(href="facebook.com") Facebook
            .reviews-item.anim-items 
                p.reviews-item__text Вперше на заняттях раннього розвитку (нам 1,2). Чудова Інна, цікаве заняття. Заклад чистий, сучасний та з гарно методичною та розвиваючою базою. Рекомендуємо
                .reviews-item__profile 
                    .reviews-item__profile-photo 
                        img(src="/src/assets/images/review-photo2.png", alt="photo") 
                    .reviews-item__profile-text 
                        .reviews-item__profile-name Олена
                        .reviews-item__profile-link мама Андрія, 
                            a(href="facebook.com") Facebook
            .reviews-item.anim-items
                p.reviews-item__text Вожу ребенка с 8 месяцев на раннее развитие. Я в восторге. Методист Анна замечательная. Большое вам спасибо.
                .reviews-item__profile 
                    .reviews-item__profile-photo 
                        img(src="/src/assets/images/review-photo3.png", alt="photo") 
                    .reviews-item__profile-text 
                        .reviews-item__profile-name Світлана
                        .reviews-item__profile-link мама Інни, 
                            a(href="facebook.com") Facebook
            .reviews-item.anim-items 
                p.reviews-item__text Воджу дитину з 8 місяців на ранній розвиток. Я в захваті. Методист Анна чудова. Велике вам спасибі.
                .reviews-item__profile 
                    .reviews-item__profile-photo 
                        img(src="/src/assets/images/review-photo4.png", alt="photo") 
                    .reviews-item__profile-text 
                        .reviews-item__profile-name Марина
                        .reviews-item__profile-link мама Роми, 
                            a(href="facebook.com") Facebook
        a.btn.btn-reviews(href="#") Залишити відгук 

                    