section.schedule 
    .wrapper.wrapper-schedule
        h2.h2-like.anim-items Розклад садочку
            h3.h3-like.schedule-subtitle МОЛОДША ТА СТАРША ГРУПИ
            p.schedule-item 
                span 08:00 - 08:40 
                | Прийом діток
            p.schedule-item 
                span 08:40 - 09:00 
                | Ранкова зарядка
            p.schedule-item 
                span 09:00 - 09:30 
                | Сніданок
            p.schedule-item 
                span 09:40 - 10:20 
                | Заняття 
            p.schedule-item 
                span 10:20 - 11:20 
                | Прогулянка на свіжому повітрі
            p.schedule-item 
                span 11:20 - 11:30 
                | Перекус
            p.schedule-item 
                span 11:30 - 12:10 
                | Заняття
            p.schedule-item 
                span 12:10 - 12:30 
                | Вільна гра
            p.schedule-item 
                span 12:30 - 13:00 
                | Обід
            p.schedule-item 
                span 13:00 - 15:30 
                | Тиха година
            p.schedule-item 
                span 15:30 - 16:00 
                | Пробудження після сну
            p.schedule-item 
                span 16:00 - 16:20 
                | Перекус
            p.schedule-item 
                span 16:20 - 17:00 
                | Заняття 
            p.schedule-item 
                span 17:00 - 17:30 
                | Самостійна гра
            p.schedule-item 
                span 17:30 - 18:00 
                | Вечеря
            p.schedule-item 
                span 18:00 - 18:40 
                | Прогулянка
            p.schedule-item 
                span 18:40 - 19:00 
                | Повернення діток додому
            p.schedule-subitem *Режим дня може змінюватись залежно від віку дітей, погодних умов і пори року
        img.schedule-flower(src="/src/assets/images/flower.svg", alt="flower")
        img.schedule-line(src="/src/assets/images/line.svg", alt="line")
        img.schedule-rooster(src="/src/assets/images/rooster.svg", alt="rooster")