section.team 
    .wrapper.wrapper-team 
        h2.h2-like.team-title.anim-items Наша команда
        .slider.swiper-container 
            .slider-wrapper.swiper-wrapper 
                .slider-slide.swiper-slide.anim-items
                    .slider-slide__img 
                        img(src="/src/assets/images/director.jpg", alt="")
                    .slider-slide__name Олянич Аня
                    .slider-slide__position Директор
                .slider-slide.swiper-slide.anim-items
                    .slider-slide__img 
                        img(src="/src/assets/images/admin.jpg", alt="")
                    .slider-slide__name Куліна Анна
                    .slider-slide__position Адміністратор
                .slider-slide.swiper-slide.anim-items
                    .slider-slide__img 
                        img(src="/src/assets/images/teacher.jpg", alt="")
                    .slider-slide__name Юрчик Іванна
                    .slider-slide__position Педагог-вихователь
                .slider-slide.swiper-slide.anim-items
                    .slider-slide__img 
                        img(src="/src/assets/images/teacher2.jpg", alt="")
                    .slider-slide__name Васильченко Іннеса
                    .slider-slide__position Педагог раннього розвитку, музичний керівник
        .team-btn__prev.swiper-button-prev  
        .team-btn__next.swiper-button-next 