section.why
    .wrapper.wrapper-why 
        h2.h2-like.anim-items  Чому саме Морквинка?
        .why-content 
            .why-item.anim-items  
                .why-item__img 
                    img(src="/src/assets/images/item2.svg", alt="")
                .why-item__title Комфорт та безпека
                p.wrapper-text.why-item__text Екологічні іграшки, сучасні меблі, відеоспостереження, авторські навчальні методики, регулярні прогулянки – все це забезпечує гармонійний розвиток усіх сфер життєдіяльності малечі. 
            .why-item.anim-items  
                .why-item__img 
                    img(src="/src/assets/images/item2.svg", alt="")
                .why-item__title Навчальна програма
                p.wrapper-text.why-item__text Англійська мова, музика, шахи, розвиваючі заняття, підготовка до школи, кулінарні майстер-класи, уроки творчості - усе це входить у вартість садочку.
            .why-item.anim-items  
                .why-item__img 
                    img(src="/src/assets/images/item3.svg", alt="")
                .why-item__title Смачне та здорове харчування
                p.wrapper-text.why-item__text Ми дбаємо про збалансоване та якісне харчування Вашої дитини. Страви від наших кухарів неодмінно сподобаються Вашим діткам. Також регулярно проходять кулінарні майстер-класи!
            .why-item.anim-items 
                .why-item__img 
                    img(src="/src/assets/images/item4.svg", alt="")
                .why-item__title Ліцензія
                p.wrapper-text.why-item__text Садочок має освітню ліцензію та працює згідно зі всіма законодавчими нормами та вимогами
            .why-item.anim-items  
                .why-item__img 
                    img(src="/src/assets/images/item5.svg", alt="")
                .why-item__title Групи до 10 дітей
                p.wrapper-text.why-item__text Невеликі групи за віком гарантують комфортні умови навчання та розвитку 
            .why-item.anim-items  
                .why-item__img 
                    img(src="/src/assets/images/item6.svg", alt="")
                .why-item__title Власний дитячий майданчик
                p.wrapper-text.why-item__text Безпека понад усе!
    
    
    
    
    
