doctype html
html(lang='en')
    head 
        include assets/pug/_head 
    body 
        include assets/pug/_header
        include assets/pug/_main
        include assets/pug/_why
        include assets/pug/_video
        include assets/pug/_team
        include assets/pug/_schedule
        include assets/pug/_events
        include assets/pug/_gallery
        include assets/pug/_price
        include assets/pug/_reviews
